@{
    ViewData["Title"] = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/css/productdetails.css" rel="stylesheet" />
<section class="section section--small-top-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="prod-Details-wrapper">
                    <div class="row" id="prdDetails">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        (() => {
            let prdId = +window.location.search.split('=')[1];
            loadProductDetails(prdId);
            cartItems();
        })()

        function loadProductDetails(id) {
            //let id = 12; //should be dynamic
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: baseURL + '/api/product/GetProductById?id=' + id,
                dataType: "json",
                type: 'get',
                async: false,
                success: function (res) {
                    let content = `<div class="col-md-5">
                                     <div class="prodImgCol mb--30">
                                        <div class="prodMainImage section--grey text-center">
                                            <div class="prodMain-slider slider sliderSlick slick-initialized slick-slider">
                                                <div class="slick-list">
                                                    <div class="slick-track" style="opacity: 1; width: 2262px;">
                                                        <div class="item prodImg slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 377px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                                                            <img class="img-responsive" src="${imageURL + res.productImageUrl}" alt="Intizon mini UPS for WiFi Router">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="prodThumbs-wrap text-right">
                                            <div class="prodThumb-slider prodThmbs_carousel slider sliderSlick slick-initialized slick-slider">
                                                <div class="slick-list draggable">
                                                    <div class="slick-track" style="opacity: 1; width: 384px; transform: translate3d(0px, 0px, 0px);">
                                                        <div class="item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 64px;" tabindex="0">
                                                            <div class="Thumbimg section--grey"><img class="img-responsive" src="~/assets/products/dc-f1.webp" alt="Intizon mini UPS for WiFi Router"></div>
                                                        </div><div class="item slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 64px;" tabindex="0">
                                                            <div class="Thumbimg section--grey"><img class="img-responsive" src="~/assets/products/dc-s.webp" alt="Intizon mini UPS for WiFi Router"></div>
                                                        </div><div class="item slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 64px;" tabindex="0">
                                                            <div class="Thumbimg section--grey"><img class="img-responsive" src="~/assets/products/dc-r.webp" alt="Intizon mini UPS for WiFi Router"></div>
                                                        </div><div class="item slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 64px;" tabindex="0">
                                                            <div class="Thumbimg section--grey"><img class="img-responsive" src="~/assets/products/dc-a4.webp" alt="Intizon mini UPS for WiFi Router"></div>
                                                        </div><div class="item slick-slide slick-active" data-slick-index="4" aria-hidden="false" style="width: 64px;" tabindex="0">
                                                            <div class="Thumbimg section--grey"><img class="img-responsive" src="~/assets/products/dc-a2.webp" alt="Intizon mini UPS for WiFi Router"></div>
                                                        </div><div class="item slick-slide slick-active" data-slick-index="5" aria-hidden="false" style="width: 64px;" tabindex="0">
                                                            <div class="Thumbimg section--grey"><img class="img-responsive" src="~/assets/products/dc-a3.webp" alt="Intizon mini UPS for WiFi Router"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="detailsContWrap lightgray-text">
                                        <div class="textSec mb--30">
                                            <h1 class="cst-title title title--h4 mb--10 title--transform-none">
                                                <span>${res.name}</span>
                                            </h1>
                                            <h2 class="cst-title-mdl title title--h4 title--transform-none text-color-1 mb--20">
                                                <span>${res.price}</span>
                                            </h2>
                                            <div class="textdesc">

                                                <div>
                                                    <p>${res.fullDescription == null ? "No Description" : res.fullDescription}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="textSec mb--30">
                                            <h4 class="cst-title title title--h4 mb--10">Features</h4>
                                            <div class="textdesc">
                                                <ul><li>Upto 4 hours of backup time&nbsp;</li></ul>
                                            </div>
                                        </div>
                                        <a style="display:inline-block;margin-right:12px;" href="#" class="btn-noarrow">E-Catalogue</a>
                                        <a style="display:inline-block;" onclick="addToCart(${res.productId},'${res.productImageUrl}','${res.name.replace(/[^a-zA-Z ]/g, "")}','${res.price}',${res.itemId},${res.freeItemId},'${res.freeQty}','${res.originalUnitPrice}')" class="btn-noarrow">Shop Now</a>
                                    </div>
                                </div>`;
                    $("#prdDetails").empty();
                    $("#prdDetails").append(content);
                }
            });
        }
    </script>
}
