@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/assets/css/products.css" rel="stylesheet" />*@

<script src="../kit.fontawesome.com/9c3c9132b8.js" crossorigin="anonymous"></script>
<link href="~/numeric/themes/numeric/css/lg-icons.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link href="~/numeric/themes/numeric/css/iceberg.min.css" rel="stylesheet" />
<link href="~/numeric/themes/numeric/css/stylesheet.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,500,700&amp;display=swap" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
<article data-history-node-id="20">

	<div class="banner banner--no-gradient headerTheme-style mngShape-energy mngHeader_wrapper bgNo">
		<div class="fullHeaderWrap">
			<div class="headImg_wrap">
				<picture class="img-responsive headImg">
                    <source style="max-height: 310px;width: 100%;height: auto;" width="1920" height="310" media="(min-width:500px)" srcset="~/assets/img/m_header-categories.webp">
					<img style="max-height: 310px;width: 100%;height: auto;" width="1920" height="310" class="headImg" src="~/assets/img/m_header-categories.webp" alt="Numeric Ups Products Array">
				</picture>
			</div>
		</div>
	</div>
	<section class="section section--grey section--small-top-padding">
		<div class="container">
			<div class="text-right mb--45 buttons-below-banner" style="text-align:right;">
				<a class="button-below-banner btn-second btn-second--inline btn-second--primary-color" href="/services">Services</a>
				<a class="button-below-banner btn-second btn-second--inline btn-second--primary-color" href="/products">Products</a>
				<a class="button-below-banner btn-second btn-second--inline btn-second--primary-color" href="/contact-us">Contact</a>
			</div>

			<div class="row ">
				<div class="text-center col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12">
					<i class="lgpicto--title imgIcon mb--10"><img width="35" height="35" style="width: 100%;height: auto;" src="~/assets/img/icon-products-text.png" alt="icon"></i>
					<h1 class="title text-uppercase mb--20">
						<span>Products</span>
					</h1>
					<div class="infoText_Cont_Top text-justify">
						<p class="mb--0"></p>
					</div>
				</div>
			</div>
		</div>
	</section>

</article>
<section class="section">
    <div class="container">
        <div class="panel-group prodCateAccordianWrap" id="accordion_products">

            <div class="panel">
                <div class="scrollPosition" id="target_cat_1"></div>

                <div class="panel-heading">
                    <a class="title_catSec section--grey collapsed" data-bs-toggle="collapse" data-bs-parent="#accordion_products" aria-expanded="true" href="#prod_collapse_1">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <h2 class="title text-uppercase text-center mb--15">Home UPS</h2>
                                <div class="text-center">
                                    <p>Modern households are equipped with various electronic devices like computers, accessories,
                                        home theatre systems, security systems, and numerous other gadgets that facilitate intelligent living 
                                        and simplify everyday tasks. An efficient power backup becomes essential that can sustain the digital
                                        lifestyle without any interruptions. Whether you opt to work remotely from home, establish temporary workspaces, 
                                        conduct online learning sessions for children, or entertain guests, you can fortify your homes with reliable UPS solutions.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div id="prod_collapse_1" class="panel-collapse collapse" aria-expanded="true">
                    <div class="panel-body">
                        <div class="row prodCol3">

                            <div class="col-md-4 col-sm-6">
                                <a href="/product/details" class="prodCol_wrap card card--link no-shadow">
                                    <div class="imageWrap section--grey text-center"><img width="180" height="246" loading="lazy" class="card__image" src="~/assets/img/dc-s.webp" alt="Intizon mini UPS for WiFi Router"></div>

                                    <div class="prod-Title card__text card__text--spaced-v card__text--big title--transform-none">
                                        <span class="link link--vertical-center"><i class="fa-solid fa-circle-arrow-right"></i></span>
                                        Intizon Mini UPS for Wi-Fi Router
                                    </div>
                                    <div class="desc text-color-9 mb--15"style="font-size:10px;">Intizon Mini UPS for Wi-Fi Router is a reliable and efficient power backup solu... <span class="text-color-1">Read More</span></div>
                                    <h5 class="cst-title-mdl title title--h4 text-color-1 title--transform-none"><span>12 V</span></h5>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="panel">
                <div class="scrollPosition" id="target_cat_custom_pnp"></div>

                <div class="panel-heading">
                    <a class="title_catSec section--grey collapsed" data-bs-toggle="collapse" data-bs-parent="#accordion_products" aria-expanded="false" href="#prod_collapse_custom_pnp">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <h2 class="title text-uppercase text-center mb--15">Plug N Play UPS</h2>
                                <div class="text-center"><p>Homes, small businesses and home offices rely heavily on digital tools to make their everyday life more smart and easy. This requires a reliable and trusted power back up to ensure continuity of all things digital. ​Installing or setting up a UPS can appear to be a daunting task that necessitates external support or assistance. As part of our commitment to offer smart solutions, we have simplified this process with Plug N Play UPS. It comes with a step by step user guide to ensure quick and hassle free set up, easy-to-unbox packaging and contactless installation making the entire process seamless and convenient. ​Contact us today to learn more about our products and services and discover how we can help you go uninterrupted even during power disruptions</p></div>
                            </div>
                        </div>
                    </a>
                </div>

                <div id="prod_collapse_custom_pnp" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div class="row prodCol3">

                            <div class="col-md-4 col-sm-6">
                                <a href="/product/details" class="prodCol_wrap card card--link no-shadow">
                                    <div class="imageWrap section--grey text-center"><img width="180" height="246" loading="lazy" class="card__image" src="/images/products/dc-s.webp" alt="Intizon mini UPS for WiFi Router"></div>

                                    <div class="prod-Title card__text card__text--spaced-v card__text--big title--transform-none">
                                        <span class="link link--vertical-center"><i class="lgicon-btn-arrow-circle"></i></span>
                                        Intizon Mini UPS for Wi-Fi Router
                                    </div>
                                    <div class="desc text-color-9 mb--15">Intizon Mini UPS for Wi-Fi Router is a reliable and efficient power backup solu... <span class="text-color-1">Read More</span></div>
                                    <h5 class="cst-title-mdl title title--h4 text-color-1 title--transform-none"><span>12 V</span></h5>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <a href="/product/details" class="prodCol_wrap card card--link no-shadow">
                                    <div class="imageWrap section--grey text-center"><img width="180" height="246" loading="lazy" class="card__image" src="https://www.numericups.com/sites/default/files/2022-06/eXs2.png" alt="Digital 600 EX"></div>

                                    <div class="prod-Title card__text card__text--spaced-v card__text--big title--transform-none">
                                        <span class="link link--vertical-center"><i class="lgicon-btn-arrow-circle"></i></span>
                                        Digital 600 EX
                                    </div>
                                    <div class="desc text-color-9 mb--15">
                                        Digital 600 EX&nbsp;line interactive UPS 600 VA - 360 W - 3 Indian output sockets
                                        ... <span class="text-color-1">Read More</span>
                                    </div>
                                    <h5 class="cst-title-mdl title title--h4 text-color-1 title--transform-none"><span>600 VA</span></h5>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <a href="/product/details" class="prodCol_wrap card card--link no-shadow">
                                    <div class="imageWrap section--grey text-center"><img width="180" height="246" loading="lazy" class="card__image" src="https://www.numericups.com/sites/default/files/2019-05/Numeric-Digital-1000-Plus-V---R.png" alt="Digital 1000 PLUS V"></div>

                                    <div class="prod-Title card__text card__text--spaced-v card__text--big title--transform-none">
                                        <span class="link link--vertical-center"><i class="lgicon-btn-arrow-circle"></i></span>
                                        Digital 1000 PLUS V
                                    </div>
                                    <div class="desc text-color-9 mb--15">Digital 1000 Plus V line interactive UPS 1000 VA - 600 W - 4 Indian output sock... <span class="text-color-1">Read More</span></div>
                                    <h5 class="cst-title-mdl title title--h4 text-color-1 title--transform-none"><span>1000 VA</span></h5>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <a href="/product/details" class="prodCol_wrap card card--link no-shadow">
                                    <div class="imageWrap section--grey text-center"><img width="180" height="246" loading="lazy" class="card__image" src="/images/products/d10-s.webp" alt="Digital 1000 HR-V IBB"></div>

                                    <div class="prod-Title card__text card__text--spaced-v card__text--big title--transform-none">
                                        <span class="link link--vertical-center"><i class="lgicon-btn-arrow-circle"></i></span>
                                        Digital 1000 HR-V IBB
                                    </div>
                                    <div class="desc text-color-9 mb--15">Protect your critical equipment from power disruptions with easy-to-install Plu... <span class="text-color-1">Read More</span></div>
                                    <h5 class="cst-title-mdl title title--h4 text-color-1 title--transform-none"><span>1000 VA</span></h5>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <a href="/product/details" class="prodCol_wrap card card--link no-shadow">
                                    <div class="imageWrap section--grey text-center"><img width="180" height="246" loading="lazy" class="card__image" src="https://www.numericups.com/sites/default/files/2024-01/2k-s1.webp" alt="Digital 2000 HR-V IBB"></div>

                                    <div class="prod-Title card__text card__text--spaced-v card__text--big title--transform-none">
                                        <span class="link link--vertical-center"><i class="lgicon-btn-arrow-circle"></i></span>
                                        Digital 2000 HR-V IBB
                                    </div>
                                    <div class="desc text-color-9 mb--15">Protect your critical equipment from power disruptions with easy-to-install, Pl... <span class="text-color-1">Read More</span></div>
                                    <h5 class="cst-title-mdl title title--h4 text-color-1 title--transform-none"><span>2000 VA</span></h5>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <a href="/product/details" class="prodCol_wrap card card--link no-shadow">
                                    <div class="imageWrap section--grey text-center"><img width="180" height="246" loading="lazy" class="card__image" src="https://www.numericups.com/sites/default/files/2024-02/vl-s1_%200.webp" alt="Valura IBB - Side View Image"></div>

                                    <div class="prod-Title card__text card__text--spaced-v card__text--big title--transform-none">
                                        <span class="link link--vertical-center"><i class="lgicon-btn-arrow-circle"></i></span>
                                        Valura IBB
                                    </div>
                                    <div class="desc text-color-9 mb--15">Valura is a true double-conversion online single-phase UPS that comes with inbu... <span class="text-color-1">Read More</span></div>
                                    <h5 class="cst-title-mdl title title--h4 text-color-1 title--transform-none"><span>1 - 3 kVA</span></h5>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <a href="/product/details" class="prodCol_wrap card card--link no-shadow">
                                    <div class="imageWrap section--grey text-center"><img width="180" height="246" loading="lazy" class="card__image" src="https://www.numericups.com/sites/default/files/2018-11/Numeric-Onfinity-FM-2KV-2.png" alt="Onfiniti"></div>

                                    <div class="prod-Title card__text card__text--spaced-v card__text--big title--transform-none">
                                        <span class="link link--vertical-center"><i class="lgicon-btn-arrow-circle"></i></span>
                                        Onfiniti
                                    </div>
                                    <div class="desc text-color-9 mb--15">Available in 1 to 10 kVA range, it&nbsp;offers true double conversion online power ... <span class="text-color-1">Read More</span></div>
                                    <h5 class="cst-title-mdl title title--h4 text-color-1 title--transform-none"><span>1 - 10 kVA</span></h5>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>