@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/css/products.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />
<div role="main" class="main pt-4" style="margin-top:115px;">
    <div class="containers" style="padding-left:135px;padding-right:95px;">
        <div class="row">
            <div class="col-md-3">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-6">
								<h5>Filter</h5>
							</div>
							<div class="col-6">
								<form id="searchBar">
									<input type="search" id="mainSerchBar" placeholder="Search...">
								</form>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="accordion accordion-flush" id="filterContainer">
								<div class="accordion-item">
									<h5 class="accordion-header m-0" id="flush-heading1">
										<button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">
											Brand
										</button>
									</h5>
									<div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="flush-heading1" data-bs-parent="#filterContainer">
										<div class="accordion-body" id="filterBrandContainer" style="overflow:scroll;overflow-x:hidden;height:368px;">
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h5 class="accordion-header m-0" id="flush-heading2">
										<button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">
											Category
										</button>
									</h5>
									<div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="flush-heading2" data-bs-parent="#filterContainer">
										<div class="accordion-body" id="filterCategoryContainer" style="overflow:scroll;overflow-x:hidden;height:368px;">
											
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 mt-4">
								<!-- Price Range-->
								<div class="widget price-range mb-4">
									<h6 class="widget-title mb-2">Price Range</h6>
									<div class="widget-desc">
										<!-- Min Value-->
										<div class="row g-3">
											<div class="col-6">
												<div class="form-floating">
													<input class="form-control" id="minPrice" type="text" placeholder="1" value="1">
													<label for="floatingInput">Min</label>
												</div>
											</div>
											<div class="col-6">
												<div class="form-floating">
													<input class="form-control" id="maxPrice" type="text" placeholder="1" value="5000">
													<label for="floatingInput">Max</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12">
								<!-- Apply Filter-->
								<div class="apply-filter-btn"><a class="btn btn-lg btn-success w-100" id="btnFilter">Apply Filter</a></div>
							</div>
						</div>
						
					</div>
				</div>
            </div>
            <div class="col-md-9">
				<div class="row" id="productContainer">
					
				</div>
			</div>
		</div>
    </div>
</div>
@section Scripts{
<script type="text/javascript">
		var brandIds = "";
		var categoryIds = "";
		var minPrice = 0;
		var maxPrice = 0;
		$(document).ready(function () {
			getCategories();
			getBrands();
			getProducts();
		});
		$(document).on("keyup", "#mainSerchBar", function () {
			let searchData = $(this).val();
			if (searchData.length > 2) {
				$.ajax({
					headers: {
						'Accept': 'application/json',
						'Content-Type': 'application/json'
					},
					url: baseURL + '/api/product/SearchProduct?key=' + searchData,
					dataType: "json",
					type: 'get',
					success: function (res) {
						$("#productContainer").empty();
						let option = ``;
						let n = 0;
						$.each(res, function (key, val) {
							option += `<div class="col-md-4 mb-4">
												<div class="product-card" id="product-card">
													<div class="product-front" id="product-front">
														<div class="shadow"></div>
														<img src=${imageURL + val.productImageUrl} height="240" width="250" style="margin-left:12%;" alt="" />
														<div class="image_overlay"></div>
														<div class="wishListDiv"><a class="wishlist-btn" href="#"><i class="bx bx-heart"></i></a></div>
														<div class="view_details" data-id="${val.id}" id="view_details">View Details</div>
														<div class="stats">
															<div class="stats-container">
																<span class="product_price">${currencySymbol + val.price}</span>
																<span class="product_name">${val.name}</span>
																<div class="product-options">
																	<strong>Category</strong>
																	<span>${val.categoryName}</span>
																	<strong>Brand</strong>
																	<span>${val.brandName}</span>
																</div>
															</div>
														</div>
													</div>
													<div class="product-back" id="product-back">
														<div class="shadow"></div>
														<div class="carousel" id="carousel">
															<ul>
																<li><img src=${imageURL + val.productImageUrl} height="240" width="250" style="margin-left:3%;" alt="" /></li>
															</ul>
															<div class="view_details_back" id="view_details_back" data-id="${val.id}">View Details</div>
															<div class="arrows-perspective">
																<div class="carouselPrev">
																	<div class="y"></div>
																	<div class="x"></div>
																</div>
																<div class="carouselNext">
																	<div class="y"></div>
																	<div class="x"></div>
																</div>
															</div>
														</div>
														<div class="flip-back" id="flip-back">
															<div class="cy" id="cy"></div>
															<div class="cx" id="cx"></div>
														</div>
													</div>
												</div>
											</div>`;

						});
						$("#productContainer").append(option);
					}
				});
			}
			else {
				$("#productContainer").empty();
			}
		});

		
		function getBrands() {
			$.ajax({
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				url: baseURL + '/api/home/GetProductBrand',
				dataType: "json",
				type: 'get',
				success: function (res) {
					$("#filterBrandContainer").empty();
					let option = ``;
					let n = 0;
					$.each(res, function (key, val) {
						option += `<div class="form-check">
										<input class="form-check-input" id="${val.id}-${val.name}" name="brandCheckbox" type="checkbox">
										<label class="form-check-label" for="${val.id}-${val.name}">${val.name}</label>
									</div>`;

					});
					$("#filterBrandContainer").append(option);
				}
			});
		}
		function getCategories() {
			$.ajax({
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				url: baseURL + '/api/home/GetAllCategory',
				dataType: "json",
				type: 'get',
				success: function (res) {
					$("#filterCategoryContainer").empty();
					let option = ``;
					let n = 0;
					$.each(res, function (key, val) {
						option += `<div class="form-check">
										<input class="form-check-input" id="${val.id}-${val.name}" name="categoryCheckbox" type="checkbox">
										<label class="form-check-label" for="${val.id}-${val.name}">${val.name}</label>
									</div>`;

					});
					$("#filterCategoryContainer").append(option);
				}
			});
		}
		$(document).on("click", ".view_details", function () {
				var id = $(this).attr("data-id");
				window.location.href = '/product/details?id=' + id;
		});
		function getProducts(model) {
			if (!model) {
				model = {
					brandIds: "",
					categoryIds: "",
					minPrice: 0,
					maxPrice: 0,
					limit: 39,
					offset: 0,
					reload: true
				}
			}
			let url = baseURL + '/api/product/GetAllProduct';
			$.ajax({
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				url: url,
				dataType: "json",
				type: 'post',
				data: JSON.stringify(model),
				async: false,
				success: function (res) {
					if (model.reload) {
						$("#productContainer").empty();
					}
					let option = ``;
					let n = 0;
					$.each(res, function (key, val) {
						option += `<div class="col-md-4 mb-4">
								<div class="product-card" id="product-card">
									<div class="product-front" id="product-front">
										<div class="shadow"></div>
										<img src=${imageURL + val.productImageUrl} height="240" width="250" style="margin-left:12%;" alt="" />
										<div class="image_overlay"></div>
										<div class="wishListDiv"><a class="wishlist-btn" href="#"><i class="bx bx-heart"></i></a></div>
										<div class="view_details" data-id="${val.id}" id="view_details">View Details</div>
										<div class="stats">
											<div class="stats-container">
												<span class="product_price">${currencySymbol + val.price}</span>
												<span class="product_name">${val.name}</span>
												<div class="product-options">
												    <strong>Category</strong>
													<span>${val.categoryName}</span>
													<strong>Brand</strong>
													<span>${val.brandName}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="product-back" id="product-back">
										<div class="shadow"></div>
										<div class="carousel" id="carousel">
											<ul>
												<li><img src=${imageURL + val.productImageUrl} height="240" width="250" style="margin-left:3%;" alt="" /></li>
											</ul>
											<div class="view_details_back" id="view_details_back" data-id="${val.id}">View Details</div>
											<div class="arrows-perspective">
												<div class="carouselPrev">
													<div class="y"></div>
													<div class="x"></div>
												</div>
												<div class="carouselNext">
													<div class="y"></div>
													<div class="x"></div>
												</div>
											</div>
										</div>
										<div class="flip-back" id="flip-back">
											<div class="cy" id="cy"></div>
											<div class="cx" id="cx"></div>
										</div>
									</div>
								</div>
							</div>`;
					});
					$("#productContainer").append(option);
					$("#btnFilter").prop("disabled", false);
				}
			});
		}
		$(document).on("click", "#btnFilter", function () {
			getFilterProduct();
		})
		function getFilterProduct() {
			$("#btnFilter").prop("disabled", true);
			brandIds = "";
			categoryIds = "";
			var brandElement = $("input[name='brandCheckbox']:checked").each(function (key, val) {
				brandIds += $(val).attr("id") + ",";
			});
			var categoryElement = $("input[name='categoryCheckbox']:checked").each(function (key, val) {
				categoryIds += $(val).attr("id") + ",";
			});
			minPrice = "";
			maxPrice = "";
			minPrice = $("#minPrice").val();
			maxPrice = $("#maxPrice").val();
			var model = {
				brandIds: brandIds,
				categoryIds: categoryIds,
				minPrice: minPrice,
				maxPrice: maxPrice,
				limit: 39,
				offset: 0,
				reload: true
			}
			getProducts(model);
		}
		$(document).on('mouseenter', '.product-card', function (event) {
			$(this).addClass('animate');
			$('div.carouselNext, div.carouselPrev').addClass('visible');
		}).on('mouseleave', '.product-card', function () {
			$(this).removeClass('animate');
			$('div.carouselNext, div.carouselPrev').removeClass('visible');
		});
</script>
} 