@{
    ViewData["Title"] = "Account Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section section--small-top-padding" style="padding: 40px 0 40px;margin-top:100px;background-color:white;">
    <div class="page-content">
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="/home/index">Home</a></li>
                    <li>My Account</li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 aside aside--left">
                        <div class="list-group">
                            <a href="/Customer/AccountDetails" class="list-group-item active">Account Details</a>
                            <a href="/Customer/BillingAddress" class="list-group-item">Billing Address</a>
                            <a href="/Customer/Wishlist" class="list-group-item">My Wishlist</a>
                            <a href="/Customer/OrderHistory" class="list-group-item">My Order History</a>
                            <a href="#" id="btnLogOut" class="list-group-item">Sign Out</a>
                        </div>
                    </div>
                    <div class="col-md-9 aside">
                        <h2>Account Details</h2>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card" style="text-transform:none;background-color:white;min-height:0px;">
                                    <div class="card-body personalInfo" id="personalInfo">
                                        <h3>Personal Info</h3>
                                        <p>
                                            <b>Name:</b> Biplob Hossain<br>
                                            <b>E-mail:</b> biplobcse.diu@gmail.com<br>
                                            <b>Phone:</b> 01703504061<br>
                                            <b>Address:</b> Eastern Housing
                                        </p>
                                        <div class="mt-2 clearfix">
                                            <a href="#" class="link-icn js-show-form" data-form="#updateDetails" onclick="editCustomer()">
                                                <i class="bx bx-pencil"></i>Edit
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-3" style="display:block;text-transform:none;background-color:white;" id="updateDetails">
                            <div class="card-body" id="updateInfoDetails">
                                <h3>Update Account Details</h3>
                                <div class="row mt-2">
                                    <div class="col-sm-6">
                                        <label class="text-uppercase">User Name:</label>
                                        <div class="form-group"><input type="text" class="form-control" id="userName" value="" disabled></div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-6">
                                        <label class="text-uppercase">Name:</label>
                                        <div class="form-group"><input type="text" class="form-control" id="name" value="" placeholder="Enter your name"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text-uppercase">Address:</label>
                                        <div class="form-group"><input type="text" class="form-control" id="address" value="" placeholder="Enter your address"></div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-6">
                                        <label class="text-uppercase">E-mail:</label>
                                        <div class="form-group"><input type="email" class="form-control" id="email" value="" placeholder="Enter your gmail"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text-uppercase">Phone:</label>
                                        <div class="form-group"><input type="text" class="form-control" id="phone" value="" placeholder="Enter your phone number"></div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-6">
                                        <label class="text-uppercase">Country:</label>
                                        <div class="form-group select-wrapper">
                                            <select class="form-control" id="country" name="country"></select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text-uppercase">State:</label>
                                        <div class="form-group select-wrapper">
                                            <select class="form-control" disabled id="state" name="state"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-6">
                                        <label class="text-uppercase">City:</label>
                                        <div class="form-group">
                                            <input type="text" id="city" value="" placeholder="Enter city" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text-uppercase">zip/postal code:</label>
                                        <div class="form-group">
                                            <input type="text" id="postalCode" value="" placeholder="Enter postal code Ex: 1216" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <button type="reset" onclick="closeDetailsDiv()" class="btn btn--alt js-close-form" data-form="#updateDetails">Cancel</button>
                                    <button type="submit" onclick="updateCustomer()" class="btn ml-1">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        (() => {
            getCustomerInformation();
            getCountry();
        })()

    </script>
}