/*  10. Cart Table Page */
.cart-table {
    text-align: left;
}

.cart-table-link {
    display: block;
    position: relative;
}

    .cart-table-link:hover, .cart-table-link:focus {
        text-decoration: none;
    }

    .cart-table-link > .icon {
        display: block;
        float: left;
        font-size: 33px;
        line-height: 1em;
    }

    .cart-table-link:hover .minicart-link:after {
        content: '';
        width: 100%;
        height: 200px;
        position: absolute;
        z-index: 0;
        top: 100%;
        left: 0;
    }

.cart-table-qty {
    display: block;
    width: 35px;
    margin: 14px 0 0 -35px;
    float: left;
    font-size: 14px;
    line-height: 15px;
    color: #ffb6d3;
    text-align: center;
}

.cart-table-title {
    display: block;
    padding-left: 50px;
    margin-bottom: 2px;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
}

.cart-table-total {
    margin-bottom: 15px;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
    font-size: 14px;
    line-height: 36px;
    color: #656565;
}

@media screen and (max-width: 767px) {
    .cart-table-total > .row > [class*='col'] {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        -moz-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .cart-table-total .btn {
        padding: 10px 12px;
    }

        .cart-table-total .btn:not(:only-child) {
            -ms-flex: 1;
            flex: 1;
        }

        .cart-table-total .btn:only-child {
            min-width: 50%;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
        }

        .cart-table-total .btn [class*="icon-"]:not(:only-child):not(:last-child) {
            padding-right: 6px;
        }
}

@media screen and (min-width: 768px) {
    .cart-table-total {
        background-color: #fbfbfb;
        padding: 7px 7px 0;
    }
}

.cart-table-total [class*="col"] > * {
    margin-bottom: 7px;
    margin-right: 4px;
}

.cart-table-total [class*="col"] > .btn:only-child {
    margin-left: 0;
    margin-right: 0;
}

.cart-table-total .btn,
.cart-table-total [class*="col"] > * {
    display: inline-block;
    vertical-align: top;
}

.cart-table-prd {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #f7f7f7;
    padding-top: 15px;
    padding-bottom: 15px;
}

    .cart-table-prd:first-of-type {
        padding-top: 30px;
    }

@media screen and (max-width: 991px) {
    .cart-table-prd > * {
        padding-left: 90px;
        padding-right: 50px;
        padding-top: 10px;
    }
}

@media screen and (min-width: 992px) {
    .cart-table-prd > * {
        display: table-cell;
        vertical-align: middle;
    }
}

.cart-table-prd-options {
    font-size: 11px;
    line-height: 1.2em;
    color: #656565;
    text-transform: uppercase;
}

    .cart-table-prd-options:not(:first-child) {
        margin-top: 7px;
    }

.cart-table-prd-image {
    width: 145px;
}

@media screen and (max-width: 991px) {
    .cart-table-prd-image {
        width: 90px;
        padding: 0;
        float: left;
    }
}

.cart-table-prd-image img {
    width: 78px;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .cart-table-prd-image img {
        width: 65px;
    }
}

@media only screen and (max-width: 479px) {
    .cart-table-prd-image img {
        width: 60px;
    }
}

@media screen and (max-width: 991px) {
    .cart-table-prd-name {
        padding-top: 0;
    }
}

.cart-table-prd-name h5 {
    margin-bottom: 10px;
}

    .cart-table-prd-name h5,
    .cart-table-prd-name h5 a {
        font-size: 11px;
        line-height: 1.2em;
        color: #656565;
        text-transform: uppercase;
    }

.cart-table-prd-name h2 {
    margin-bottom: 0;
}

    .cart-table-prd-name h2,
    .cart-table-prd-name h2 a {
        font-size: 14px;
        line-height: 1.6em;
        color: #000;
        text-transform: uppercase;
        text-decoration: none;
    }

        .cart-table-prd-name h2 a:hover {
            color: #ffb6d3;
        }

@media screen and (min-width: 992px) {
    .cart-table-prd-qty {
        width: 12.6%;
    }
}

@media screen and (min-width: 992px) {
    .cart-table-prd-price {
        width: 15%;
    }
}

.cart-table-prd-qty,
.cart-table-prd-price {
    font-size: 11px;
    line-height: 18px;
    color: #656565;
    text-transform: uppercase;
}

    .cart-table-prd-qty b,
    .cart-table-prd-price b {
        font-size: 14px;
        font-weight: 600;
        color: #000;
    }

@media screen and (min-width: 992px) {
    .cart-table-prd-action {
        width: 140px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 991px) {
    .cart-table-prd-action {
        float: right;
        position: absolute;
        top: 15px;
        padding: 0;
        right: 0;
        width: 50px;
        text-align: center;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-top: 0;
    }
}

.cart-table-prd-action > a {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    color: #ffb6d3;
    text-decoration: none;
}

    .cart-table-prd-action > a:hover {
        color: #000;
    }

.card-total {
    font-size: 24px;
    line-height: 27px;
    color: #000;
}

    .card-total:not(:only-child) {
        margin-bottom: 40px;
    }

    .card-total .card-total-price {
        font-weight: bold;
    }

    .card-total + button {
        margin-bottom: 25px;
    }

.sidebar-block .card-total:not(:only-child) {
    margin-bottom: 15px;
}

@media screen and (min-width: 992px) {
    .cart-table--sm .cart-table-prd-image {
        width: 50px;
    }

        .cart-table--sm .cart-table-prd-image img {
            max-width: 100%;
        }

    .cart-table--sm .cart-table-prd-name {
        padding: 0 15px;
    }

        .cart-table--sm .cart-table-prd-name a {
            font-size: 13px;
            letter-spacing: 0;
        }

        .cart-table--sm .cart-table-prd-name b {
            font-weight: 600;
        }

    .cart-table--sm .cart-table-prd-qty {
        /*width: 50px;*/
        text-align: center;
    }

    .cart-table--sm .cart-table-prd-price {
        width: 90px;
        text-align: center;
    }

    .cart-table--sm .cart-table-prd-headings {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        color: #000;
        background-color: #fbfbfb;
        border: 0;
    }

        .cart-table--sm .cart-table-prd-headings, .cart-table--sm .cart-table-prd-headings:first-of-type {
            padding-top: 7px;
            padding-bottom: 7px;
        }
}

.card-total-sm {
    overflow: hidden;
    background-color: #fbfbfb;
    padding: 7px 7px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
}

    .card-total-sm .card-total-price {
        font-weight: bold;
    }

.cart-table.cart-table--wishlist .cart-table-prd:first-of-type {
    padding-top: 15px;
}

.cart-table.cart-table--wishlist .delete-from-wishlist {
    font-size: 15px;
    position: absolute;
    right: 0;
    top: 5px;
    text-decoration: none;
}

    .cart-table.cart-table--wishlist .delete-from-wishlist:hover {
        text-decoration: none;
    }

.cart-table.cart-table--wishlist .cart-table-addtocart {
    text-align: right;
}

@media screen and (max-width: 991px) {
    .cart-table.cart-table--wishlist .cart-table-addtocart {
        text-align: left;
    }
}
/*  2.2. Buttons  */
.btn {
    background-color: #DBEAF3;
    color: #2F4D5A;
    border: none;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn:hover, .btn:active:hover, .btn:focus:hover {
    color: #fff;
    background-color: #000;
    outline: 0;
    transition: all 0.2s ease;
}
.btn [class*="icon-"] {
    font-size: 14px;
    position: relative;
    top: 1px;
}
.btn [class*="icon-"]:last-child {
    top: 0;
}
.btn [class*="icon-"]:not(:only-child):not(:last-child) {
    padding-right: 10px;
}

.btn--form {
    padding: 12px 22px;
}
.btn--full {
    width: 100%;
}
.btn--alt, .btn--alt:active, .btn--alt:active:focus, .btn--alt:visited, .btn--alt:focus {
    color: #fff;
    background-color: #000;
}
.btn--alt:hover {
    color: #fff;
    background-color: #ffb6d3;
}
.btn--grey, .btn--grey:active, .btn--grey:active:focus, .btn--grey:visited, .btn--grey:focus {
    background-color: #bcbcbc;
}
.btn--grey:hover {
    background-color: #ffb6d3;
}
.btn--lg {
    padding: 16px 30px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.btn--lg [class*="icon-"] {
    font-size: 18px;
}

@media screen and (max-width: 479px) {
    .btn--lg {
        padding: 10px 22px;
        font-size: 11px;
        line-height: 20px;
    }
}
.btn-decor {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 0 10px;
    font-size: 14px;
    line-height: 1em;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    text-decoration: none;
    transition: all 0.3s ease;
}
.btn-decor, .btn-decor:focus {
    color: #000;
    background: none;
    outline: none;
    text-decoration: none;
}
.bnr-wrap:hover .btn-decor, .btn-decor:hover {
    text-decoration: none;
}
.btn-decor:hover {
    color: #000;
    text-decoration: none;
}
.btn-decor:after, .btn-decor span.btn-line {
    content: '';
    position: absolute;
    bottom: -.2em;
    left: 50%;
    height: 3px;
    width: 100%;
    max-width: 100%;
    background: #ffb6d3;
    transform: translateX(-50%);
    transition: all 0.3s ease-out;
}
@media (max-width: 767px) {
    .btn-decor:after, .btn-decor span.btn-line {
        bottom: -.1em;
        height: 2px;
    }
}
.bnr-wrap:hover .btn-decor span.btn-line,
.bnr-wrap:hover .btn-decor:after, .btn-decor:hover:after, .btn-decor:hover span.btn-line {
    width: 48px;
    max-width: 50%;
}
.btn-decor--lg {
    font-size: 18px;
    font-weight: 700;
}
.btn-decor--white {
    color: #fff;
}
.bnr-wrap:hover .btn-decor--white, .btn-decor--white:hover {
    color: #fff;
}

.btn-decor--darkline:after, .btn-decor--darkline span.btn-line {
    background-color: #000;
}

.btn-decor--whiteline:after, .btn-decor--whiteline span.btn-line,
.btn-decor--white:not(:hover):after, .btn-decor--white:not(:hover) span.btn-line {
    background-color: #fff;
}
.bnr-wrap:hover .btn-decor--whiteline span.btn-line, .bnr-wrap:hover .btn-decor--white span.btn-line,
.btn-decor--whiteline:hover:after, .btn-decor--whiteline:hover span.btn-line,
.btn-decor--white:hover:after, .btn-decor--white:hover span.btn-line {
    background-color: #fff;
}

.btn-decor + .btn-decor {
    margin-left: 45px;
}

@media screen and (max-width: 767px) {
    .btn-decor + .btn-decor {
        margin-left: 24px;
    }
}
.btn-loading {
    pointer-events: none;
    opacity: .5;
}
.text-center .btn-decor,
.text-center .btn-decor + .btn-decor {
    margin-left: 22px;
    margin-right: 22px;
}
@media screen and (max-width: 767px) {
    .text-center .btn-decor,
    .text-center .btn-decor + .btn-decor {
        margin-left: 10px;
        margin-right: 10px;
    }
}
.btn--animate {
    position: relative;
}
.btn--animate .text-sent {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 500;
    letter-spacing: 1px;
    opacity: 0;
    transition: none;
}
.btn--animate:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    opacity: 0;
    height: 100%;
    overflow: hidden;
    background-color: #15c979;
    color: #fff;
    transition: width 10ms ease-in-out, background-color 300ms ease-in, opacity 250ms ease-in;
}
.btn--animate.btn--loading {
    background-color: #000;
    pointer-events: none;
}
.btn--animate.btn--loading:after {
    opacity: 1;
    background-color: #15c979;
    width: 100%;
    transition: width 1s ease-in-out, background-color 300ms ease-in, opacity 250ms ease-in;
}
.btn--animate.btn--loading .text-sent {
    opacity: 1;
    transition: opacity 250ms .75s ease-in;
}

/*Checkout*/
/*  2.8. Tabs  */
.nav-tabs:not(.tab-category) {
    padding: 0;
    list-style: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e2e2e2;
}
.nav-tabs:not(.tab-category):not(:first-child) {
    margin-top: 30px;
}
.nav-tabs:not(.tab-category) > li {
    position: relative;
    margin-bottom: -2px;
}
.nav-tabs:not(.tab-category) > li .nav-link {
    position: relative;
    overflow: hidden;
    padding: 10px 18px;
    border-color: transparent;
    border-radius: 0;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    font-family: "Montserrat", sans-serif;
    line-height: 16px;
    text-align: center;
    transition: background-color 0.2s ease;
}
.nav-tabs:not(.tab-category) > li .nav-link:after {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    content: '';
    transition: all 0.2s ease;
}
.nav-tabs:not(.tab-category) > li .nav-link:hover:after, .nav-tabs:not(.tab-category) > li .nav-link:focus:after {
    top: 0;
}
.nav-tabs:not(.tab-category) > li .nav-link.active, .nav-tabs:not(.tab-category) > li .nav-link.active:hover, .nav-tabs:not(.tab-category) > li .nav-link.active:focus {
    padding: 10px 18px;
    background-color: transparent;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #e2e2e2;
    color: #000;
}
.nav-tabs.center-tabs {
    text-align: center;
}
.nav-tabs.center-tabs > li {
    display: inline-block;
    float: none;
    margin-right: -4px;
    vertical-align: top;
}
.nav-tabs.right-tabs {
    text-align: right;
}
.nav-tabs.right-tabs > li {
    display: inline-block;
    float: none;
    margin-right: -4px;
    vertical-align: top;
}
.nav-tabs.nav-tabs--style2 {
    border-bottom: 0;
}
.nav-tabs.nav-tabs--style2 > li {
    margin-bottom: 0;
}
.nav-tabs.nav-tabs--style2 > li .nav-link {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 25px;
    color: #000;
    border-width: 1px;
    border-style: solid;
    border-color: #e2e2e2;
}
.nav-tabs.nav-tabs--style2 > li .nav-link:hover:after, .nav-tabs.nav-tabs--style2 > li .nav-link:focus:after {
    top: 0;
}
.nav-tabs.nav-tabs--style2 > li .nav-link.active, .nav-tabs.nav-tabs--style2 > li .nav-link.active:hover, .nav-tabs.nav-tabs--style2 > li .nav-link.active:focus {
    border-width: 1px;
    padding: 10px 25px;
    border-color: #ffb6d3;
    background-color: #ffb6d3;
    color: #fff;
}
.nav-tabs.nav-tabs--style3 {
    border-bottom: 0;
}
.nav-tabs.nav-tabs--style3 > li {
    margin-bottom: 0;
}
.nav-tabs.nav-tabs--style3 > li .nav-link {
    margin: 0;
    padding: 10px 15px;
    color: #000;
    border: 0;
    font-size: 14px;
    line-height: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.nav-tabs.nav-tabs--style3 > li .nav-link:hover:after, .nav-tabs.nav-tabs--style3 > li .nav-link:focus:after {
    top: 0;
}
.nav-tabs.nav-tabs--style3 > li .nav-link.active, .nav-tabs.nav-tabs--style3 > li .nav-link.active:hover, .nav-tabs.nav-tabs--style3 > li .nav-link.active:focus {
    border-width: 0;
    padding: 10px 15px;
    border-color: transparent;
    background-color: transparent;
    color: #ffb6d3;
}
.tabs-left, .tabs-right {
    border-bottom: none;
    display: inline-block;
}
.tabs-left:not(.nav-tabs--style2):not(.nav-tabs--style3) {
    border-right-width: 1px;
    border-right-style: solid;
    border-color: #e2e2e2;
}
.tabs-right:not(.nav-tabs--style2):not(.nav-tabs--style3) {
    border-left-width: 1px;
    border-left-style: solid;
    border-color: #e2e2e2;
}
.tabs-left > li, .tabs-left > li {
    float: none;
    margin-bottom: 2px;
}
.tabs-left > li {
    margin-right: -1px;
}
.tabs-left > li {
    margin-left: -1px;
}
.tabs-left > li.active > a, .tabs-left > li.active > a:hover, .tabs-left > li.active > a:focus {
    border-width: 1px 0 1px 1px;
}
.tabs-left > li > a {
    margin-right: 0;
    display: block;
}
.tabs-right > li.active > a, .tabs-right > li.active > a:hover, .tabs-right > li.active > a:focus {
    border-width: 1px 1px 1px 0;
}
.tabs-right > li > a {
    margin-right: 0;
}
.tab-content {
    position: relative;
    z-index: 1;
}
.tab-content > .tab-pane {
    display: none;
    padding: 40px 0 0;
    border: 0;
}
.tab-content > .tab-pane > *:not(:first-child):not(p):not(.clearfix):not(.row) {
    margin-top: 35px;
}
@media screen and (max-width: 767px) {
    .tab-content > .tab-pane > *:not(:first-child):not(p):not(.clearfix):not(.row) {
        margin-top: 20px;
    }
}
.tab-content > .tab-pane > p:not(:first-child) {
    margin-top: 25px;
}

.tab-content > .tab-pane > p + p {
    margin-top: 20px;
}

.tab-content > .tab-pane:only-child {
    margin-bottom: 0;
}

.tab-content > .active {
    display: block;
}
.tab-content .table {
    font-size: 11px;
    line-height: 1.5em;
    font-family: "Montserrat", sans-serif;
}
.panel {
    background: transparent;
}
.panel-body > *:not(:first-child):not(p) {
    margin-top: 25px;
}
.panel-body > p {
    margin-top: 25px;
}
.panel-body > p + p {
    margin-top: 20px;
}
.panel-body:only-child {
    margin-bottom: 0;
}

.panel-body img {
    max-width: 100%;
}
.panel {
    border: 0;
    box-shadow: none;
}
.panel-title, .panel-heading, .panel-group .panel {
    border-radius: 0;
}
.panel-heading {
    padding: 0;
    border-bottom: 0;
    border-radius: 0;
}
.panel-heading a {
    display: block;
    padding: 13px 40px 13px 0;
    color: #000;
}
.panel-heading.active a {
    color: #ffb6d3;
}
.panel-title {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 24px;
}
.panel > .panel-heading {
    position: relative;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #f7f7f7;
    background-color: transparent;
}
.panel > .panel-heading:before {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    margin-top: -15px;
    padding-left: 2px;
    width: 30px;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: #e2e2e2;
    pointer-events: none;
    transition: 0.2s;
}
.panel > .panel-heading:after {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -14px;
    padding-left: 2px;
    width: 30px;
    height: 30px;
    content: "\e919";
    text-align: center;
    font-size: 14px;
    font-family: 'icomoon';
    line-height: 28px;
    pointer-events: none;
    transition: 0.2s;
}
.panel > .panel-heading.active:after {
    color: #ffb6d3;
    transform: rotate(90deg);
    margin-top: -15px;
    padding-top: 1px;
}
.panel > .panel-heading.active:before {
    border-color: #ffb6d3;
}
.panel > .panel-heading:hover:after {
    border-color: #ffb6d3;
}
.panel-group .panel + .panel {
    margin-top: 0;
}
.panel-group .panel + .panel > .panel-heading {
    border-top: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body {
    padding: 15px 0;
    border-top: 0;
    border-bottom: 1px solid #f7f7f7;
}
.params-row {
    margin: 0;
    list-style: none;
}
.params-row li {
    display: inline-block;
    min-width: 50px;
    text-align: center;
}
.steps-progress .nav-tabs {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
@media screen and (max-width: 479px) {
    .steps-progress .nav-tabs {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 10px;
        border: 0;
    }
}
.steps-progress .nav-tabs:not(.tab-category) > li {
    max-width: 50%;
}
@media screen and (max-width: 479px) {
    .steps-progress .nav-tabs:not(.tab-category) > li {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
    }
}
.steps-progress .nav-tabs:not(.tab-category) > li .nav-link {
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: inherit;
    border: 0;
    background-color: transparent;
    transition: 0.2s;
}
@media screen and (max-width: 479px) {
    .steps-progress .nav-tabs:not(.tab-category) > li .nav-link {
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
    }
}
.steps-progress .nav-tabs:not(.tab-category) > li .nav-link:hover, .steps-progress .nav-tabs:not(.tab-category) > li .nav-link:focus, .steps-progress .nav-tabs:not(.tab-category) > li .nav-link:active, .steps-progress .nav-tabs:not(.tab-category) > li .nav-link.active {
    padding: 10px 0;
    border: 0;
    background-color: transparent;
}
.steps-progress .nav-tabs:not(.tab-category) > li .nav-link:hover:after, .steps-progress .nav-tabs:not(.tab-category) > li .nav-link:focus:after, .steps-progress .nav-tabs:not(.tab-category) > li .nav-link:active:after, .steps-progress .nav-tabs:not(.tab-category) > li .nav-link.active:after {
    display: none;
}
.steps-progress .nav-tabs:not(.tab-category) > li .nav-link:not(.active) {
    opacity: .3;
}
.steps-progress .nav-tabs:not(.tab-category) > li .nav-link:hover {
    opacity: 1;
}
.steps-progress .nav-tabs:not(.tab-category) > li .nav-link span:first-child {
    position: relative;
    padding: 0 8px;
    font-size: 16px;
    font-weight: 400;
}
@media screen and (max-width: 479px) {
    .steps-progress .nav-tabs:not(.tab-category) > li .nav-link span:first-child {
        top: -4px;
        font-size: 30px;
    }
}
.steps-progress .progress {
    margin-top: -1px;
    height: 4px;
    border-radius: 0;
}
.steps-progress .progress-bar {
    background-color: #ffb6d3;
}
.tab-category.nav-tabs {
    border-bottom: 0;
}
.tab-category.nav-tabs > * {
    display: inline-block;
    float: none;
    margin: 0 15px;
}
.tab-category.nav-tabs > * > * {
    margin-bottom: 0;
}
.tab-category.nav-tabs:not(.text-center):not(.justify-content-center) > *:first-child {
    margin-left: 0;
}
.tab-category.nav-tabs:not(.text-center):not(.justify-content-center) > *:last-child {
    margin-right: 0;
}
.tab-category.nav-tabs .nav-link.active, .tab-category.nav-tabs .nav-link:hover {
    color: #ffb6d3;
}
.tab-category.nav-tabs .nav-link {
    padding: 0;
    border: 0;
}
@media (max-width: 767px) {
    .tab-category.nav-tabs .nav-link {
        padding: 5px 0;
    }
}
.tab-category-content.tab-content > .tab-pane {
    padding: 0;
}
.tab-category-image {
    display: block;
    height: 100%;
    min-height: 300px;
    text-decoration: none;
    background-size: cover;
    background-position: center;
}
.btn, .btn:active, .btn:active:focus, .btn:visited, .btn:focus {
    box-shadow: none;
    /*color: #fff;
    background-color: #ffb6d3;*/
    outline: none;
    text-decoration: none;
}

/*Order Summary*/
h2, .h2-style {
    margin: 0 0 20px;
    padding: 0;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.2em;
}

@media only screen and (max-width: 479px) {
    h2, .h2-style {
        font-size: 16px;
        margin: 0 0 15px;
    }
}