@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="myCarousel" class="carousel slide " data-bs-ride="carousel">

    @*<ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="4"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="5"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="6"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="7"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="8"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="9"></li>
    </ol>*@

    <div class="carousel-inner" style="max-height:50vh;" id="divSlider">
        
    </div>

    <a href="#myCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
        <span class="sr-only"></span>
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a href="#myCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
        <span class="sr-only"></span>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>


<!-- End Hero -->
<!-- ======= About Section ======= -->
<section id="about" class="about">
    
</section><!-- End About Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container-fluid">
        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <h2> OUR SOLUTIONS</h2>
        </div>
        <div class="container-fluid row" id="solutions">
            
        </div>
    </div>
</section><!-- End Services Section -->
<!-- ======= Counts Section ======= -->
<section id="counts" class="counts  section-bg">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-sm-12 col-lg-3 col-md-6 d-flex flex-column count-body-1" style="height: 150px;">
                <div class="count-box d-flex align-items-center position-relative counter-1">
                    <i class='bx bx-smile position-absolute' style="color: black; font-size: 55px; left: 50px;"></i>
                    <span style="width: 70px; margin-top: 8px; position: absolute; left: 55px;" data-purecounter-start="0" data-purecounter-end="350" data-purecounter-duration="1" class="purecounter"> </span>
                    <i class="fas fa-plus position-absolute plus-btn-1" style="font-size: 25px; color: black; left: 195px;"></i>
                </div>
                <p class="text-center mt-2" style="font-size: 25px;"><strong>Happy Clients</strong></p>
            </div>

            <div class="col-sm-12 col-lg-3 col-md-6 d-flex flex-column count-body-2" style="height: 150px;">
                <div class="count-box d-flex align-items-center position-relative counter-2">
                    <i class='bx bx-file  position-absolute' style="color: black; font-size: 55px; left: 40px;"></i>
                    <span style="width: 70px; margin-top: 8px; position: absolute; left: 45px;" data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter ps-2"></span>
                    <i class="fas fa-plus position-absolute plus-btn-2" style="font-size: 25px; color: black; left: 185px;"></i>
                </div>
                <p class="text-center mt-2" style="font-size: 25px;"><strong>Successful Projects</strong></p>
            </div>

            <div class="col-sm-12 col-lg-3 col-md-6 d-flex flex-column count-body-3" style="height: 150px;">
                <div class="count-box d-flex align-items-center position-relative counter-3">
                    <i class="fas fa-handshake position-absolute" style="color: black; font-size: 55px; left: 45px;"></i>
                    <span style="width: 70px; margin-top: 8px; position: absolute; left: 55px;" data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter ps-3"></span>
                    <i class="fas fa-plus position-absolute plus-btn-3" style="font-size: 25px; color: black; left: 175px;"></i>
                </div>
                <p class="text-center mt-2" style="font-size: 25px;"><strong>International Partners</strong></p>
            </div>

            <div class="col-sm-12 col-lg-3 col-md-6 d-flex flex-column count-body-4" style="height: 150px;">
                <div class="count-box d-flex align-items-center position-relative counter-4">
                    <i class="fas fa-chalkboard-teacher position-absolute" style="color: black; font-size: 55px; left: 50px;"></i>
                    <span style="width: 70px; margin-top: 8px; position: absolute; left: 65px;" data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter ps-3"></span>
                    <i class="fas fa-plus  position-absolute plus-btn-4" style="font-size: 25px; color: black; left: 195px;"></i>
                </div>
                <p class="text-center mt-2" style="font-size: 25px;"><strong>Technical Exparts</strong></p>
            </div>

        </div>

    </div>
</section>
<!-- ======= Cta Section ======= -->

<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

        <div class="text-center">
            <h2 style="font-size: 40px;">24/7 SERVICES</h2>
            <h4>Our Hotline Numbers</h4> <br>

            <p> <i class="fas fa-phone-square-alt"></i> &nbsp; +88-01711924647, +88-01711924550, +88-01730717345 </p>
            <!-- <p>+88-01711924550</p>
            <p>+88-01730717345</p> -->

        </div>

    </div>
</section>
<!-- End Cta Section -->
<!-- ======= Brand Partners Section ======= -->

<section id="brand-partners">

    <div class="section-title" data-aos="fade-up" data-aos-delay="100">

        <h2>SOLUTION PARTNERS</h2>
    </div>

    <div class="container-fluid row" id="partnersDiv">

    </div>
</section>

<!-- ======= Products Section ======= -->
<section id="brand-partners" class="brand">

    <div class="section-title" data-aos="fade-up" data-aos-delay="100">

        <h2>MAJOR CLIENTS</h2>
    </div>

    <div class="container-fluid row" id="clientsDiv">

    </div>
</section>
<!-- ======= Testimonials Section ======= -->
<!-- End Testimonials Section -->
<!-- ======= Team Section ======= -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>CONTACT US</h2>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="info-box mb-4">
                    <i class="bx bx-map"></i>
                    <h3>Corporate Address</h3>
                    <p id="address"></p>
                    <p style="color: white;">-</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Us</h3>
                    <p id="email"></p>
                    <p style="color: white;">-</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-phone-call"></i>
                    <h3>Call Us</h3>
                    <p id="mobile1"></p>
                </div>
            </div>

        </div>

        <div class="row">


            <div class="col-lg-6">
                <form action="https://www.lidpowerbd.com/forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>

                </form>
            </div>


            <div class="col-lg-6 ">
                <iframe class="mb-4 mb-lg-0" width="100%" height="384px" id="gmap_canvas" src="https://maps.google.com/maps?q=lid%20power&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>


        </div>

    </div>
</section>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function(){
            loadBannerSlider();
            loadAbout();
            loadSolutions();
            loadSolutionPartners();
            loadMajorClients();
            loadContactInfo();
        });
        function loadBannerSlider(){
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: baseURL + 'api/Home/GetAllBanner',
                type: "GET",
                async: false,
                success: function (res) {
                    $("#divSlider").empty();
                    var content = ``;
                    $(res).each(function (i, val) {
                        content += `<div class="carousel-item ${i == 1? 'active':''}">
                                        <img src="${baseURL + val.imageUrl}" class="img-fluid d-block w-100" alt="slide">
                                        <div class="carousel-caption">
                                        </div>
                                    </div>`;
                    });
                    $("#divSlider").append(content);
                }
            });
        };
        function loadAbout(){
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: baseURL + 'api/Home/GetAboutUs',
                type: "GET",
                async: false,
                success: function (res) {
                    $("#about").empty();
                    var content = ``;
                    content = `<div class="container-fluid px-5">
                                    <div class="row mb-5">
                                        <div class="content col d-flex align-items-stretch" data-aos="fade-up">
                                            <div class="content">
                                                <h3>WHO WE ARE</h3>
                                                <p class="ad" style="font-size: 14px; margin-top: 15px; text-align: justify;">
                                                    ${res.whoWeAre}
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row no-gutters">
                                        <div class="col d-flex align-items-stretch">
                                            <div class="icon-boxes">
                                                <div class="row d-flex justify-content-center">
                                                    <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
                                                        <div class="col-8 col-sm-12 icon-box" data-aos="fade-up" data-aos-delay="100">
                                                            <i class="fas fa-eye d-flex justify-content-center"></i>
                                                            <h4>VISION</h4>
                                                            <p>
                                                                ${res.vision}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
                                                        <div class="col-8 col-sm-12 icon-box" data-aos="fade-up" data-aos-delay="200">
                                                            <i class="fab fa-jedi-order d-flex justify-content-center"></i>
                                                            <h4>MISSION</h4>
                                                            <p>
                                                                ${res.mission}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
                                                        <div class="col-8 col-sm-12 icon-box" data-aos="fade-up" data-aos-delay="300">
                                                            <i class="bx bx-images d-flex justify-content-center"></i>
                                                            <h4>POLICY</h4>
                                                            <p>${res.policy}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
                                                        <div class="col-8 col-sm-12 icon-box" data-aos="fade-up" data-aos-delay="300">

                                                            <i class="fas fa-fist-raised d-flex justify-content-center"></i>
                                                            <h4>STRENGTH</h4>
                                                            <p>${res.strength}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- End .content-->
                                        </div>
                                    </div>

                                </div>`;
                    $("#about").append(content);
                }
            });
        };
        function loadSolutions(){
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: baseURL + 'api/Home/GetSolutions',
                type: "GET",
                async: false,
                success: function (res) {
                    $("#solutions").empty();
                    var content = ``;
                    $(res).each(function (i, val) {
                        let option = ``;
                        $.each(val.products,function(key,v){
                            option += `<p class="description ms-3" style="padding-left: 10px;"> <i class="bx bxs-check-circle"></i> &nbsp; ${v}</p>`;
                        });
                        content += `<div class="col-12 col-sm-12 col-md-6 col-lg-3  d-flex justify-content-center mb-5 mb-lg-0">
                                        <div class="icon-box">
                                            <a href="#">
                                                <div data-aos="fade-up">
                                                    <div class="icon"><i class="far fa-lightbulb d-flex justify-content-center"></i></div>
                                                    <h4 class="title d-flex justify-content-center"><a href="solution.html#services1">${val.name}</a></h4>
                                                    ${option}
                                                </div>
                                            </a>
                                        </div>
                                    </div>`;
                    });
                    $("#solutions").append(content);
                }
            });
        };
        function loadSolutionPartners() {
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: baseURL + 'api/Home/GetAllBrandPartners',
                type: "GET",
                async: false,
                success: function (res) {
                    $("#partnersDiv").empty();
                    var content = ``;
                    $(res).each(function (i, val) {
                        content += `<div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                                        <img src="${baseURL + val.logo}" alt="">
                                    </div>`;
                    });
                    $("#partnersDiv").append(content);
                }
            });
        };
        function loadMajorClients() {
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: baseURL + 'api/Home/GetAllMajorClients',
                type: "GET",
                async: false,
                success: function (res) {
                    $("#clientsDiv").empty();
                    var content = ``;
                    $(res).each(function (i, val) {
                        content += `<div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                                        <img src="${baseURL + val.logo}" alt="">
                                    </div>`;
                    });
                    $("#clientsDiv").append(content);
                }
            });
        };
        function loadContactInfo() {
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: baseURL + 'api/Home/GetContactInformation',
                type: "GET",
                async: false,
                success: function (res) {
                    $("#address").text(res.address);
                    $("#email").text(res.email);
                    $("#mobile1").text(res.phone);
                }
            });
        };
    </script>
}
