@{
    ViewData["Title"] = "Return Policy";
}

<section class="section section--small-top-padding" style="padding: 40px 0 40px;margin-top:150px;background-color:white;">
    <div class="page-content">
        <div class="holder mt-0">
            <div class="container">
                <!-- Page Title -->
                <div class="page-title text-center">
                    <div class="title">
                        <h1>Return policy</h1>
                    </div>
                </div>
                <h3>CANCELLATION & RETURN POLICY</h3>
                <p>
                    We guarantee your satisfaction with all the platforms of Precious Fashion. If you receive a
                    damaged or defective item or wrong product, you can return the product and we won´t charge
                    any amount for that. If you give us permission, then we will send that product to you again if we
                    have stock. Please read the policy below for more information.
                </p>
                <h3>RETURN POLICY</h3>
                <p>
                    If you receive a damaged, defective or wrong product, please return it to us and we’ll arrange for<br />
                    a replacement. But some conditions apply. Those are:<br />
                    o Please check the order in front of the delivery person.<br />
                    o If any defect is found, inform the “Customer Service Department” or the delivery man as soon as
                    possible along with a picture.<br />
                    o The “Customer Service department” upon consultation with the management will
                    change/replace/return the product or adjust or refund the payment.<br />
                    o The Return Policy will not be valid after the seal is broken or if the product does not suit you<br />
                    o And in case of return for exceptional circumstances, customer must pay the transportation cost.<br />
                    o Original Invoice must be returned along with the product.<br />
                    o If there is any other issue and customer wants to return the product, she has to pay the
                    transportation fee.<br />
                    o If there is any other issue and management allows customer to exchange the product, then she
                    has to pay the entire transportation fee.<br />

                    For further support: Phone: +8801XXXXXXXXX E-mail: support@powerlink.com
                </p>

            </div>
        </div>
    </div>
</section>
